= form_tag new_search_path, class: "form-inline", role: "form", method: "get" do
  .form-group
    = label_tag :q, "Postleitzahl", class: "sr-only"
    = text_field_tag :searched_zip, nil, class: "input-xlg input-zip input-center form-control", placeholder: "Postleitzahl", type: "tel", id: nil
  .form-group.button-center
    // .form-group is somehow necessary in order for the button to be repsonsive
    %button.submit{type: "submit", title: "Termine prüfen"}
      Termine prüfen
      %br
      %h6.button-double-line
        In 60 Sekunden buchen