.background-image
  .row
    .welcome-elements
      .col-md-6.hidden-xs.hidden-sm.cleaner
        = image_tag("cleaner.png")
      .col-md-5.col-md-offset-1.welcome-teaser
        .welcome-form
          %h1
            Jetzt putzen lassen!
          %ul
            %li
              %h4
                Guter Grund 1!
            %li
              %h4
                Guter Grund 2!
            %li
              %h4
                Guter Grund 3!
            %li
              %h4
                Guter Grund 4!

          %form.form-inline{role: "form"}
            .form-group
              %label.sr-only{for: "exampleInputEmail1"} Postleitzahl eingeben
              %input.input-lg#exampleInputEmail1.form-control{placeholder: "Postleitzahl eingeben"}/
            %button.btn.btn-lg.btn-primary{type: "submit"} Abschicken

