// Increase general font size
body {
  font-size: 2em;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.font-white {
  color: white;
  &:hover {
    color: #428bca;
  }
}