// For the right side responsive navbar
.navbar-side {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #333333;
  z-index: 10;
  transition: width 0.3s ease;
}

.navbar-side-extend {
  width: 60%;
}

.navbar-left {
  margin-left: -60%;
  width: 100% !important;
  transition: margin 0.3s ease;
}

.page-wrap-left {
  width: 100%;
  float: left;
  margin-left: -60%;
  transition: margin 0.3s ease;
}

.page-wrap {
  width: 100%;
}

// Remove thin white line that screws with the image
.navbar {
  border-bottom: none;
}

// Make sure the elements are not to close to the logo
.navbar-nav {
  padding-left: 3em;
}

// Make it transparent
.navbar-transparent {
  background: transparent;
  // to make sure there is no white background (why does it work this way?)
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// Insert the navbar images/links via classes
// .content:url(kontakt.png) doesn't work with Firefox and just using background
// messes up the layout.
// TODO Find better (dryer) solution

.trendreport-image {
  background:url(navigation/trendreport.png);
  width: 218px;
  height: 40px;
  margin: 15px 15px 15px 15px;
   &:hover {
    background:url(navigation/trendreport_hover.png);
  }
}

.labtogether-image {
  background:url(navigation/labtogehter.png);
  width: 223px;
  height: 40px;
  margin: 15px 15px 15px 15px;
   &:hover {
    background:url(navigation/labtogehter_hover.png);
  }
}

.team-image {
  background:url(navigation/team.png);
  width: 95px;
  height: 30px;
  margin: 15px 15px 15px 15px;
   &:hover {
    background:url(navigation/team_hover.png);
  }
}

.latw-image {
  background:url(navigation/latw.png);
  width: 105px;
  height: 30px;
  margin: 15px 15px 15px 15px;
   &:hover {
    background:url(navigation/latw_hover.png);
  }
}

// Make the navbar collapse 'earlier' (because the navbar-link pictures are to big...)
// See: http://stackoverflow.com/a/20249415/409087
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    background-color: #aac571;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// Add phone support for smaller screens
.phone-support-header {
  background-color: #aac571;
  padding: .5em 0 .5em 0;
}

// Hide phone support for larger screens
@media (min-width: 768px) {
  .phone-support-header {
    display: none;
    // Why does @extend .text-center; not work here but must be added extra in
    // _navigation.html.haml?
  }
}