.area-form {
  border-radius: 15px;
  padding: 1em;
  background-color: #aac571;
  max-width: 28em;
  padding: 1em 1em 1em 1em;
}

.area-text {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .input-email {
    width: 8em !important;
  }
}