// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
  background: url('berlin-blur-narrow.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.welcome-elements {
  position: absolute;
  width: 100%;
  bottom: 0;
}


.welcome-form {
  border-radius: 15px;
  padding: 1em;
  background-color: #aac571;
  max-width: 28em;
  padding-top: .1em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-teaser {
    padding: 0 0 20% 30%;
  }
}

@media (max-width: 768px) {
  .welcome-teaser {
    padding: 0 0 20% 15%;
  }
}