// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-image {
  background: url('berlin-blur-narrow.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  position: relative;
}

.welcome-elements {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.welcome-form {
  border-radius: 15px;
  padding: 1em;
  background-color: #aac571;
  max-width: 22em;
  padding-top: .1em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-teaser {
    padding: 0 0 20% 30%;
  }
}

@media (max-width: 768px) {
  .welcome-teaser {
    padding: 0 15% 20% 15%;
  }
  .input-zip {
    margin: 0 auto;
  }
}

.welcome-4c {
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  .benefits-img {
    opacity:0.8;
  }
  .heading-4c {
    text-align: center;
    padding-top: .5em;
  }
  .description-4c {
    padding: 0 1em 1em 1em;
    text-align: justify;
  }
}

.welcome-2c {
  background-color: #aac571;
  padding: 1em 0 1em 0;
  .description-2c {
    padding: 1em 10% 0 5%;
    text-align: justify;
  }
}

.welcome-submit {
  max-width: 22em;
  margin-left:auto;
  margin-right:auto;
  padding-top: 2em;
  .submit-green.jumbotron {
    background-color: #aac571;
  }
}

.welcome-about {
  padding: 2em 2em 1em 0;
}

.welcome-team {
  padding: 1em 0 2em 0;
}

