.welcome-footer.text-center
  .footer-social
    %a{class: "fa fa-facebook-square font-white"}
    |
    %a{class: "fa fa-google-plus-square font-white"}
    |
    %a{class: "fa fa-twitter-square font-white"}
    |
    %a{class: "fa fa-xing-square font-white"}
    |
    %a{class: "fa fa-youtube-square font-white"}

  .footer-font
    = link_to 'Jobs', root_path, {class: "font-white"}
    |
    = link_to 'Presse', root_path, {class: "font-white"}
    |
    = link_to 'Datenschutz', root_path, {class: "font-white"}
    |
    = link_to 'Impressum', root_path, {class: "font-white"}