.navigation-link-toggle
  %a{href: root_path(anchor: "angebote-preise")}
    .offers-price-image

  %a{href: root_path(anchor: "qualitaet")}
    .quality-image

  %a{href: root_path(anchor: "team")}
    .team-image

  %a{href: root_path(anchor: "kontakt")}
    .contact-image