%li
  %a{href:"#angebote-preise", class: "offers-price-image"}
%li
  %a{href:"#qualitaet", class: "quality-image"}
%li
  %a{href:"#team", class: "team-image"}
%li
  %a{href:"#kontakt", class: "contact-image"}
