.navigation-link-toggle
  %a{href: root_path(anchor: "trendreport")}
    .trendreport-image

  %a{href: root_path(anchor: "labtogether")}
    .labtogether-image

  %a{href: root_path(anchor: "latw")}
    .latw-image

  %a{href: root_path(anchor: "team")}
    .team-image
