%li
  = link_to "", root_path(anchor: "trendreport"), class: "trendreport-image", title: "Trendreport"
%li
  = link_to "", root_path(anchor: "labtogether"), class: "labtogether-image", title: "Qualität"
%li
  = link_to "", root_path(anchor: "latw"), class: "latw-image", title: "Team"
%li
  = link_to "", root_path(anchor: "team"), class: "team-image", title: "Team"
