%li
  = link_to "", root_path(anchor: "angebote-preise"), class: "offers-price-image"
%li
  = link_to "", root_path(anchor: "qualitaet"), class: "quality-image"
%li
  = link_to "", root_path(anchor: "team"), class: "team-image"
%li
  = link_to "", root_path(anchor: "kontakt"), class: "contact-image"
